# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/next-js-app/.pnp
/next-js-app.pnp.js
/next-js-app.yarn/install-state.gz

# testing
/next-js-app/coverage

# next.js
/next-js-app/.next/
/next-js-app/out/

# production
/next-js-app/build

# misc
.DS_Store
*.pem

# debug
next-js-app/npm-debug.log*
next-js-app/yarn-debug.log*
next-js-app/yarn-error.log*

# local env files
next-js-app/.env*.local

# vercel
next-js-app/.vercel

# typescript
next-js-app/*.tsbuildinfo
next-js-app/next-env.d.ts

# cloud-functions
cloud-functions/service-account.json
cloud-functions/testing/test-invoices/
